{%- extends "scoap3_theme/page.html" %}

{%- block page_header %}
  <div class="alert alert-info alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <strong>Heads up!</strong> This is only a preview of new SCOAP3 repository. It has limited functionality and no stability guarantee. Please continue to use the official repository at: <a href="http://repo.scoap3.org" class="alert-link">repo.scoap3.org</a>
  </div>
  {%- block navbar %}
  <header>
    <nav class="navbar navbar-default navbar-static-top frontpage">
      <div class="container">
        {%- block navbar_header %}
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">{{_('Toggle navigation')}}</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          {%- block brand %}
          {%- if config.THEME_LOGO %}
            <a href="/"><img class="navbar-brand" src="{{ url_for('static', filename=config.THEME_LOGO)}}" alt="{{_(config.THEME_SITENAME)}}" /></a>
          {%- else %}
            <a class="navbar-brand" href="/">{{_(config.THEME_SITENAME)}}</a>
          {%- endif %}
          {%- endblock %}
        </div>
        {%- endblock navbar_header %}
        {%- block navbar_inner %}
        <div id="navbar" class="navbar-collapse collapse">
          {%- block navbar_nav %}
          <ul class="nav navbar-nav">
            <li><a href="#">SCOAP3</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Help</a></li>
            <li><a href="#">Documentation</a></li>
            <li><a href="#">Idea Board</a></li>
          </ul>
          {%- endblock navbar_nav %}
          {%- block navbar_right %}
          {%- endblock navbar_right %}
        </div>
        {%- endblock navbar_inner %}
      </div>
    </nav>
  </header>
  {%- endblock navbar %}
{%- endblock page_header %}
{%- block page_body %}
  <div class="jumbotron scoap3-jumbotron-img">
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <h1>SCOAP<sup>3</sup> Repository</h1>
          <h2 class="text-center">Making HEP Open Access</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
      <div class="row">
        <div class="col-md-12">
          <p class="text-center">Search <b>{{ articles_count }} Open Access</b> HEP articles:</p>
          <form action="{{ url_for('invenio_search_ui.search') }}">
            <div class="form-group">
              <input type="text" name="q" class="input-lg form-control" placeholder="{{ _('Type and press enter to search') }}">
            </div>
          </form>
        </div>
      </div>
  </div>
  <div class="container collections-list">
      <div class="row">
        <div class="col-md-4">
          <h3 class="text-left">Grouped by collections:</h3>
          <ul class="list-unstyled">
          {%- for collection in collections %}
            <li>
              <a href="{{ url_for('invenio_search_ui.search', q='_collections:"'+collection.name+'"') }}">
                {{ collection.name }}
                <span class="badge">{{ collection.count }}</span>
              </a>
            </li>
          {%- endfor %}
          </ul>
        </div>
        <div class="col-md-4">
          <h3 class="text-left">Hidden collections</h3>
          <ul class="list-unstyled">
          {%- for collection in hidden_collections %}
            <li>
              <a href="{{ url_for('invenio_search_ui.search', q='_collections:"'+collection.name+'"') }}">
                {{ collection.name }}
                <span class="badge">{{ collection.count }}</span>
              </a>
            </li>
          {%- endfor %}
          </ul>
        </div>
        <div class="col-md-4">
          <h3 class="text-left">Tools</h3>
          <ul class="list-unstyled">
            <li><a href="#">Compliance</a></li>
          </ul>
        </div>
      </div>
  </div>

{%- endblock page_body %}
