<p>
  Check for missing articles were recently performed for articles published after {{ from_date }}.
</p>

<p>
Check overview:
</p>

<table border="1">
  <tr>
    <th>Journal</th>
    <th>Outside period</th>
    <th>No arXiv</th>
    <th>Non-hep</th>
    <th>Found in repo</th>
    <th>Missing</th>
  </tr>
  {% for journal in statistics %}
  <tr>
    <td>{{ journal.journal }}</td>
    <td>{{ journal.outside_cooperation_dates }}</td>
    <td>{{ journal.no_arxiv_category }}</td>
    <td>{{ journal.non_hep_arxiv_category }}</td>
    <td>{{ journal.in_db }}</td>
    <td>{{ journal.missing }}</td>
  </tr>
  {% endfor %}
</table>

{% if missing_articles %}
  <p>
    Missing articles:
  </p>

  <table border="1">
    <tr>
      <th>DOI</th>
      <th>Title</th>
    </tr>
    {% for doi, title in missing_articles %}
    <tr>
      <td>{{ doi }}</td>
      <td>{{ title }}</td>
    </tr>
    {% endfor %}
  </table>
{% else %}
  <p>
    Seems like there are no missing articles! :)
  </p>
{% endif %}
<br/>

<p>
  During this check all articles in participating journals are checked against crossref.org. An article will be
  considered missing if it was published at least 24 hours ago based on crossref and we should have it (i.e. it's a hep
  article or all articles in the given journal should be in our repository). This check only validates if we have all
  the articles, not if those are compliant. For additional information click
  <a href="https://scientific-information-service.web.cern.ch/scientific-information-service/SIS.%20SCOAP3/SCOAP3%20Repository/Repository/6.%20Monitoring%20and%20quiality%20assurance/">here</a>.
</p>

<br/>
With kind regards,<br />
The SCOAP3 Team
