<ul>
  <li ng-repeat="record in vm.invenioSearchResults.hits.hits track by $index">
    <!-- FIXME find a better way to set the record url -->
    <h4><a target="_self" ng-href="/records/{{ record.id }}" ng-bind-html="record.metadata.titles[0].title|safe"></a></h4>
    <p>
        <i ng-repeat='author in record.metadata.authors | limitTo:5'>
          {{ author.full_name }}
          <a ng-if='author.orcid' href="http://orcid.org/{{ author.orcid }}" target="_blank" class="author_orcid_image_link" title="{{ author.orcid }}"></a>{{$last ? '' : '; '}}
          <span ng-if='$index === 4'>
          ; et al
          </span>
        </i>
        <small class="search-record-list-date"> - {{ record.metadata.imprints[0].date }}</small>
    </p>
    <p ng-repeat='abstract in record.metadata.abstracts'>
      <span ng-bind-html="abstract.value | limitTo:600 | safe"></span>
      <span ng-if='abstract.value.length > 600'>
          ...
      </span>
    </p>
    <small>
        Published in: <b>{{ record.metadata.publication_info[0].journal_title }}</b> {{ record.metadata.publication_info[0].journal_issue }} ({{ record.metadata.publication_info[0].year }}) {{ record.metadata.publication_info[0].page_artid }} by <b>{{ record.metadata.imprints[0].publisher }}</b>
    </small><br>
    <small ng-if='record.metadata.dois[0]'>
        DOI: <a href='https://doi.org/{{ record.metadata.dois[0].value }}'>{{ record.metadata.dois[0].value }}</a>
    </small>
    <small ng-if='record.metadata.arxiv_eprints[0]'>
        arXiv: <a href='http://arxiv.org/abs/{{ record.metadata.arxiv_eprints[0].value }}'>{{ record.metadata.arxiv_eprints[0].value }}</a>
    </small>
    <span class='right'>
      <small ng-repeat="file in record.metadata._files">
        <a href="/api/files/{{ file.bucket }}/{{ file.key }}">
          <i ng-if='file.filetype.includes("pdf")' class="fa fa-file-pdf-o" aria-hidden="true"></i>
          <i ng-if='file.filetype.includes("xml")' class="fa fa-file-text-o" aria-hidden="true"></i>
          {{ file.filetype.toUpperCase() }}
        </a>
      </small> 
    </span>
    <hr />
  </li>
</ul>
