<div ng-init="titles={'country': 'Country', 'journal': 'Journal'};limit=10">
  <div ng-init="tree=[];tree_more=[]" ng-repeat="(key, value) in vm.invenioSearchResults.aggregations track by $index">
    <div ng-if="value.buckets.length > 0 && key != 'year'" class="panel panel-default">
      <div class="panel-heading">
        <a name="anchor_{{ key }}"></a>
        <h3 class="panel-title">{{ titles[key] }}</h3>
      </div>
      <div class="panel-body">
        <ul class="list-unstyled" ng-init="values=getValues(key);showall=false">
          <li ng-repeat="item in value.buckets" ng-show="$index < limit || showall">
            <input type="checkbox" ng-checked="vm.invenioSearchArgs[key].indexOf(item.key) > -1" ng-click="handleClick(key, item.key)" />
            <span ng-if="key == 'country'">{{ item.key | titlecase_country }}</span>
            <span ng-if="key == 'journal'">{{ item.key | short_title_journal }}</span>
            <span class="badge pull-right">{{ item.doc_count }}</span>
          </li>
        </ul>
        <a ng-show="value.buckets.length > limit" ng-click="showall = !showall" href="#anchor_{{ key }}">
          <span ng-if="showall">Show less</span>
          <span ng-if="!showall">Show more</span>
        </a>
      </div>
    </div>
  </div>
</div>
