<div class="panel panel-default" ng-show="vm.invenioSearchResults.aggregations.year.buckets.length > 0">
    <div class="panel-heading">
        <h3 class="panel-title">Year</h3>
    </div>
    <span class="pull-right" ng-show="vm.invenioSearchArgs['year'] && vm.invenioSearchArgs.year.length > 0">
          <a class="reset-button btn btn-primary btn-sm" ng-click="resetRangeSelection()">Reset</a>
    </span>
    <div class="panel-body">
        <div style="width: 80%; margin: 0 auto;" id="year_hist"></div>
        <div style="width: 80%; margin: 0 auto;" id="year_select"></div>
    </div>
</div>
