{% extends 'admin/model/list.html' %}

{% macro render_info(model, column) %}
  {% for workflow_object in model.objects %}
    {% if 'titles' in workflow_object.data %}
        Title: {{ workflow_object.data['titles'][0]['title'] }}<br/>
    {% endif %}
    {% if 'dois' in workflow_object.data %}
      Doi:
      <a href="http://doi.org/{{ workflow_object.data['dois'][0]['value'] }}" target="_blank">
        {{ workflow_object.data['dois'][0]['value'] }}
      </a>
      <br/>
    {% endif %}
  {% endfor %}
{% endmacro %}
