<div class="container">
  {%- block navbar_header %}
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
      <span class="sr-only">{{_('Toggle navigation')}}</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    {%- block brand %}
    {%- if config.THEME_LOGO %}
      <a href="/"><img class="navbar-brand" src="{{ url_for('static', filename=config.THEME_LOGO)}}" alt="{{_(config.THEME_SITENAME)}}" /></a>
    {%- else %}
      <a class="navbar-brand" href="/">{{_(config.THEME_SITENAME)}}</a>
    {%- endif %}
    {%- endblock %}
  </div>
  {%- endblock navbar_header %}
  {%- block navbar_inner %}
  <div id="navbar" class="navbar-collapse collapse">
    {%- block navbar_nav %}
    <ul class="nav navbar-nav">
      <li><a href="/">Home</a></li>
      <li><a target="_blank" href="https://scoap3.org/">SCOAP<sup>3</sup> project</a></li>
      <li><a href="/partners">Partners</a></li>
      <li><a target="_blank" href="https://scoap3.org/scoap3-repository">About</a></li>
      <li><a target="_blank" href="https://scoap3.org/scoap3-repository-help">Help</a></li>
      <li><a target="_blank" href="https://github.com/SCOAP3/scoap3-next/wiki">Documentation</a></li>
      {% include 'scoap3_theme/_navbar_user.html' %}
    </ul>
    {%- endblock navbar_nav %}
    {%- block navbar_right %}
    {%- endblock navbar_right %}
  </div>
  {%- endblock navbar_inner %}
</div>