{% if current_user.is_authenticated %}
  <li class="dropdown user pull-right">
  {%- set username = current_userprofile.username|default(current_user.email) if current_userprofile else None %}
  <a class="dropdown-toggle" data-toggle="dropdown" href="#">
    {{ username or current_user.email }}
    <b class="caret"></b>
  </a>
  <ul class="dropdown-menu">
      {%- for item in current_menu.submenu('general').children if item.visible %}
        <li><a href="{{ item.url }}">{{ item.text|safe }}</a></li>
      {%- endfor %}
      <li class="divider"></li>
      {%- for item in current_menu.submenu('settings').children if item.visible %}
        <li><a href="{{ item.url }}">{{ item.text|safe }}</a></li>
      {%- endfor %}
      <li class="divider"></li>
      <li>
        <a href="{{ url_for(config.ADMIN_LOGOUT_ENDPOINT) }}">
          <i class="glyphicon glyphicon-log-out"></i> {{ _('Logout') }}
        </a>
      </li>
  </ul>
</li>
{% else %}
  <li class="pull-right"><a href="{{ url_for(config.ADMIN_LOGIN_ENDPOINT) }}">Login</a></li>
{% endif %}
