{% macro orcid_badge(orcid) %}
<a href="http://orcid.org/{{ orcid }}" target="_blank" class="author_orcid_image_link" title="{{orcid}}"></a>
{% endmacro %}

{% macro render_author_names(record, author, show_affiliation) %}
  <a href="/search?q=authors.full_name:'{{ author['full_name'] }}'" class="no-external-icon">
    {{ author.get('full_name', '') | format_author_name() }}
  </a>
    {%- if 'orcid' in author %}
        {{ orcid_badge(author['orcid']) }}
    {%- endif %}
    {%- if show_affiliation %}
        ({{ author.get('affiliations', []) | join('; ', attribute='value') }})
    {%- endif %}
{% endmacro %}


{% macro render_record_authors(record, is_brief, number_of_displayed_authors=10, show_affiliations=true, collaboration_only=false) %}
  {% set collaboration_displayed = [] %}
  {% if record.collaboration and not record.get('corporate_author') %}
    {% for collaboration in record.collaboration %}
      {% if collaboration['value'] %}
      <a href="/search?p=collaboration:'{{ collaboration['value'] }}'">{{ collaboration['value'] }}</a>
      {% endif %}
      {% if not loop.last %}
        and
      {% endif %}
      {% if loop.last %}
        {% if loop.index == 1%}
          Collaboration
        {% else %}
          Collaborations
        {% endif %}
      {% endif %}
    {% endfor %}
  {% endif %}


  {% if record.authors and not (collaboration_displayed and collaboration_only) %}
    {% set sep = joiner("; ") %}
    {% set authors = record.authors %}
    {% if not collaboration_displayed %}
      <i>
      {% for author in authors[0:number_of_displayed_authors] %}
        {{ sep() }}
        {{ render_author_names(record, author, show_affiliation = True ) }}
      {% endfor %}
      </i>
    {% endif %}
    {% if (record.authors | length > number_of_displayed_authors) %}
        {% if is_brief %}
          {% if not collaboration_displayed %}
            <i>et al.</i>
          {% else %}
            ({{ render_author_names(record, authors[0], show_affiliation = True) }} <i>et al.</i>)
          {% endif %}
        {% else %}
          <i>; et al. - <a id="authors-show-more" class="authors-show-more" data-toggle="modal" href="" data-target="#authors_{{ record['control_number'] }}">
            Show all {{ record.authors | count }} authors
          </a></i>
        {% endif %}
    {% else %}
        {% if not is_brief and show_affiliations %}
          {% set affiliations_exist = false %}
          {% for author in record.authors %}
            {% if author.get('affiliations') %}
              {% set affiliations_exist = true %}
            {% endif %}
          {% endfor %}
        {% endif %}
        {% if affiliations_exist %}
            - <i><a id="authors-show-more" class="authors-show-more" data-toggle="modal" href="" data-target="#authors_{{ record['control_number'] }}">
              Show affiliations
            </a></i>
        {% endif %}
    {% endif %}
    {% if show_affiliations %}
      <div class="modal fade authors-modal" id="authors_{{ record['control_number'] }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">Authors</h4>
            </div>
            <div class="modal-body">
              {% for author in record.authors %}
                {{ render_author_names(record, author) }}
                 {% if author.get('affiliations') and not is_brief %}
                  {% if author.get('affiliations') | is_list %}
                      ({{ author.get('affiliations', []) | join('; ', attribute='value') }})
                  {% else %}
                      ({{ author.get('affiliations').value }})
                  {% endif %}
                {% endif %}
                <br/>
              {% endfor %}
            </div>
            <div class="modal-footer">
            </div>
          </div>
        </div>
      </div>
    {% endif %}
  {% elif record.get('corporate_author') %}
    {{ record.get('corporate_author')|join('; ') }}
  {% endif %}
{% endmacro %}

{% macro render_tri_state_boolean_to_icon(model, column) %}
  {{ model.accepted|tri_state_boolean_to_icon }}
{% endmacro %}
