// Homepage
html{
    position: relative;
    min-height: 100%;
}

html, body, .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6, p{
    font-family: $font;
}

body{
    font-size:16px;
    margin-bottom: 180px;
}

footer{
    position: absolute;
    bottom: 0;

    width: 100%;
    background-color: #f8f8f8;
    padding:20px 0;
    margin-top:20px;
    font-size:14px;

    .footer-below{
        margin-top: 20px;
    }
}

.scoap3-jumbotron-img{
    background: url('/static/img/background.jpeg') no-repeat;
    padding-top: 0;
    padding-bottom: 0;
    background-size: cover;
    background-position: center;
    height:10em;

    .row{
        text-align: center;
        color: white;

        div{
            background-color:$violet;
            height: 10em;
        }
    }
}

.frontpage{
    margin-bottom: 0;
}

.collections-list{
    .badge{
        background-color: $light-gray;
        color: $dark-gray;
        font-weight:normal;
        font-size:0.9em;
    }
}

#invenio-search{
    header{
        padding-bottom: 20px;
    }
}

.navbar-default {
    background-color: #f8f8f8;
    border: none;
}

//TODO - move to search.scss
.search-record-list-date {
    color: #ccc;
}

.right{
    right: 0;
    position: absolute;
}

//TODO - move to default styles
.btn-scoap3-default{
    background-color: $violet;
    color: white;
}

.reset-button {
    margin:5px 10px;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    background-color: transparent;
}

.navbar-nav {
    float:none;
}

.dropdown.user > dropdown-toggle {
    margin-bottom: 0;
}

div.MathJax_Display {
    display: inline !important;
}

.form-group.required .control-label:after {
  content:"*";
  color:red;
}
