h4{
    .title{
        font-size: 1.6em;
    }
}

.extra-info{
    dt{
        padding-top:20px;
        font-weight: normal;
        font-size: 0.8em;
        color:$dark-gray;
    }
    dd{
        font-size: 1.1em;
    }
    .btn-scoap3-download{
        background-color: $violet;
        color: white;
    }
    .files{
        margin-bottom: 20px;
        a{
            display: inline-block;
            margin-right: 10px;
        }
    }
}

.author_orcid_image_link{
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url('/static/img/orcid_icon_24.png');
    background-size: 16px 16px;
    text-decoration: none;
}

p {
    .summary{
        padding-top: 20px;
    }
    .record_authors {
        padding-top: 10px;
    }
}
