{% extends 'admin/model/details.html' %}

{# hide search field #}
{% block details_search %}
{% endblock %}

{% block details_table %}
  <table class="table table-hover table-bordered">
    <tr>
      <td><b>Updated</b></td>
      <td colspan="2">{{ model.updated }}</td>
    </tr>
    <tr>
      <td><b>DOI</b></td>
      <td colspan="2">
        <a href="http://doi.org/{{ model.doi }}" target="_blank">{{ model.doi }}</a>
      </td>
    </tr>
    <tr>
      <td><b>Arxiv</b></td>
      <td colspan="2">
        {% if model.arxiv %}
          <a href="http://arxiv.org/abs/{{ model.arxiv }}" target="_blank">{{ model.arxiv }}</a>
        {% else %}
          -
        {% endif %}
      </td>
    </tr>
    <tr>
      <td><b>Accepted</b></td>
      <td colspan="2">
        {{ model.accepted|boolean_to_icon }}
      </td>
    </tr>
    {% for check_name, check_data in model.results.checks.iteritems() %}
      <tr>
        <td>
          <b>{{ check_name }}</b>
        </td>
        <td>
          {{ check_data.check|boolean_to_icon }}
        </td>
        <td>
          {{ check_data.details|join('<br/>'|safe) }}
          {% if check_data.debug %}
            <br/><i>{{ check_data.debug }}</i>
          {% endif %}
        </td>
      </tr>
    {% endfor %}
    <tr>
      <td><b>Stored files</b></td>
      <td colspan="2">
        {% for file in model.record.json._files %}
          <a href="/api/files/{{ file.bucket }}/{{ file.key }}" target="_blank">
            {{ file.filetype }}<br/>
          </a>
        {% endfor %}
      </td>
    </tr>
    <tr>
      <td><b>Recid:</b></td>
      <td colspan="2">
        {% if model.record.json.control_number %}
          <a href="/records/{{ model.record.json.control_number }}" target="_blank">
            {{ model.record.json.control_number }}
          </a>
        {% else %}
          DELETED
        {% endif %}
      </td>
    </tr>
    <tr>
      <td><b>Comment:</b></td>
      <td colspan="2">{{ model.results.comment }}</td>
    </tr>
    <tr>
      <td><b>Actions</b></td>
      {% set current_url = url_for(request.endpoint, id="%s,%s" % (model.id, model.id_record)) %}
      <td colspan="2">
        <form method="POST" action="/admin/compliance/action/">
          <input name="rowid" value="{{ model.id }},{{ model.id_record }}" type="hidden">
          <input name="url" type="hidden" value="{{ current_url }}">

          <input type="text" class="form-control" name="comment" placeholder="Accept/Reject comment" />

          {% if model.results.accepted %}
            <input name="action" value="reject" type="hidden" />
            <button onclick="return confirm('Are you sure you want to reject?');" class="btn btn-danger">
              Reject manually
            </button>
          {% else %}
            <input name="action" value="accept" type="hidden" />
            <button onclick="return confirm('Are you sure you want to accept?');" class="btn">
              Accept manually
            </button>
          {% endif %}
        </form>

        {% if model.record.json %}
          <br/>
          <form method="POST" action="/admin/compliance/action/">
              <input name="rowid" value="{{ model.id }},{{ model.id_record }}" type="hidden">
              <input name="url" type="hidden" value="{{ current_url }}">

              <input type="text" class="form-control" name="comment" placeholder="Delete comment" />

              <input name="action" value="reject_delete" type="hidden" />
              <button onclick="return confirm('Are you sure you want to DELETE the record?');" class="btn btn-danger">
                Reject & DELETE record
              </button>
              <br/>
              <small class="form-text text-muted">
                This action will reject the compliance check and permanently delete the article from our repository.
              </small>
          </form>

          <br/>
          <form method="POST" action="/admin/compliance/action/">
              <input name="rowid" value="{{ model.id }},{{ model.id_record }}" type="hidden">
              <input name="url" type="hidden" value="{{ current_url }}">

              <input name="action" value="rerun" type="hidden" />
              <button class="btn btn-warning">
                Rerun compliance check
              </button>
          </form>
        {% endif %}
      </td>
    </tr>
    <tr>
      <td><b>History</b></td>
      <td colspan="2">
        {% if model.history %}
          <table class="table table-hover table-bordered">
            <tr>
              <th>Originally created</th>
              <th>Files</th>
              <th>Funded by</th>
              <th>Received in time</th>
              <th>Licence</th>
              <th>Author</th>
              <th>Accepted</th>
            </tr>
            {% for h in model.history %}
              <tr>
                <td>{{ h.created }}</td>
                <td>{{ h.results.checks['Files'].check|boolean_to_icon }}</td>
                <td>{{ h.results.checks['Funded by'].check|boolean_to_icon }}</td>
                <td>{{ h.results.checks['Received in time'].check|boolean_to_icon }}</td>
                <td>{{ h.results.checks['Licence'].check|boolean_to_icon }}</td>
                <td>{{ h.results.checks['Author rights'].check|boolean_to_icon }}</td>
                <td>{{ h.results.accepted|boolean_to_icon }}</td>
              </tr>
            {% endfor %}
          </table>
        {% else %}
          No history yet.
        {% endif %}
      </td>
    </tr>
  </table>
{% endblock %}
