{% extends 'admin/model/list.html' %}

{% macro render_results(model, column) %}
    {% for check_name, check_data in model.results.checks.iteritems() %}
      {% if not check_data.check %}
        {{ check_name }}: {{ check_data.details|join(' | ') }}<br/>
      {% endif %}
    {% endfor %}
{% endmacro %}

{% macro render_doi(model, column) %}
  <a href="http://doi.org/{{ model.doi }}" target="_blank">{{ model.doi }}</a>
{% endmacro %}

{% macro render_arxiv(model, column) %}
  {% if model.arxiv %}
    <a href="http://arxiv.org/abs/{{ model.arxiv }}" target="_blank">{{ model.arxiv }}</a>
  {% else %}
    -
  {% endif %}
{% endmacro %}

{% macro render_accepted(model, column) %}
  {{ model.accepted|boolean_to_icon }}
{% endmacro %}

{% macro render_url(model, column) %}
  {% if model.record.json.control_number %}
    <a href="/records/{{ model.record.json.control_number }}" target="_blank">{{ model.record.json.control_number }}</a>
  {% else %}
    DELETED
  {% endif %}
{% endmacro%}

{% macro render_comment(model, column) %}
  {{ model.results.comment }}
{% endmacro %}
